.App,
#root {
	margin: 0;
	/* font-family: sans-serif; */
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-content: center;
	min-height: 100%;
	min-width: 100%;
}

/* Network Graph */
.vis-network * {
	margin: 0px;
	width: 99% !important;
	height: 500px !important;
}

/* Donation link in footer; blend mode changed to contrast w/ dark mode */
#eth-donate {
	text-decoration: none;
	mix-blend-mode: difference;
}

html,
body {
	height: 100vh;
	margin: 0;
}
